@import 'variables.css';

/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: var(--base);
    height: 100%;
    transition: background-color .3s ease;
    font-family: var(--fontFamily);
}

